body {
  margin: 0;
  padding-top: 20px;
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #858fad;
}

.attribution {
  margin: 30px;
}

.header {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px;
  text-align: center;
  font-size: 15px;
}

.title {
  margin: 0;
  font-weight: 800;
  color: #293356;
}

.description {
  padding: 0;
}

.pricing-component {
  background-color: white;
  width: 35%;
  border-radius: 5px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "views price" "slider slider" "billing billing" "features trial";
  align-items: center;
  -moz-box-shadow: 0px 10px 22px 0px #eaeefb;
  -webkit-box-shadow: 0px 10px 22px 0px #eaeefb;
  box-shadow: 0px 10px 22px 0px #eaeefb;
}
@media screen and (max-width: 960px) {
  .pricing-component {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    max-width: 600px;
    padding: 40px 15px;
  }
}
@media screen and (max-width: 960px) {
  .pricing-component > div:not(:first-child) {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 960px) {
  .pricing-component > div {
    text-align: center;
  }
}

.views {
  grid-area: views;
  text-transform: uppercase;
  font-weight: 800;
}

.price {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 960px) {
  .price {
    justify-content: center;
  }
}

.price-value {
  font-size: 2.5em;
  font-weight: 800;
  color: #293356;
  margin-right: 5px;
}

.billing {
  grid-area: billing;
  text-align: right;
  font-size: smaller;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeefb;
  margin-bottom: 40px;
}

.discount {
  background-color: #feece7;
  color: #ff8c66;
  border-radius: 1em;
  padding: 2px 5px;
  font-size: smaller;
  font-weight: 800;
}

.trial {
  grid-area: trial;
  text-align: right;
}

.features {
  grid-area: features;
  font-size: smaller;
}

.feature-list {
  list-style-image: url("../images/icon-check.svg");
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
@media screen and (max-width: 960px) {
  .feature-list {
    text-align: center;
  }
}
.feature-list li {
  padding: 4px;
}

.btn {
  border-radius: calc(1em + 20px);
  border: 0;
  background-color: #293356;
  color: #cdd7ee;
  padding: 15px 50px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover {
  color: white;
}

.switch {
  display: inline-block;
  position: relative;
  width: 44px;
  min-width: 44px;
  height: 22px;
  margin: 0 5px;
}
.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #cdd7ee;
  border-radius: 34px;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #a5f3eb;
}
.switch__checkbox:checked + .switch__slider:before {
  transform: translateX(22px);
}

/*# sourceMappingURL=styles.css.map */
