$soft_cyan: hsl(174, 77%, 80%);
$strong_cyan: hsl(174, 86%, 45%);
$light_grayish_red: hsl(14, 92%, 95%);
$light_red: hsl(15, 100%, 70%);
$pale_blue: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$very_pale_blue: hsl(230, 100%, 99%);
$light_grayish_blue: hsl(224, 65%, 95%);
$light_grayish_blue2: hsl(223, 50%, 87%);
$graish_blue: hsl(225, 20%, 60%);
$dark_desaturated_blue: hsl(227, 35%, 25%);